body {
  display: grid;
  font-family: "Figtree", sans-serif;
  grid-template-areas:
    "header"
    "breadcrumbs"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

body.has-toc {
  grid-template-areas:
    "header header"
    "breadcrumbs toc"
    "main toc";
  grid-template-columns: 1fr 16rem;
}

body.has-sidebar {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar breadcrumbs"
    "sidebar main";
  grid-template-columns: 20rem 1fr;
}

body.has-toc.has-sidebar {
  grid-template-areas:
    "header header header"
    "sidebar breadcrumbs toc"
    "sidebar main toc";
  grid-template-columns: 20rem 1fr 16rem;
}

@media (max-width: 64rem) {
  body {
    grid-template-areas:
      "header"
      "breadcrumbs"
      "main";
    grid-template-columns: 1fr;
  }

  body.has-toc {
    grid-template-areas:
      "header header"
      "breadcrumbs toc"
      "main toc";
    grid-template-columns: 1fr 16rem;
    grid-template-rows: auto auto 1fr;
  }

  body.has-sidebar {
    grid-template-areas:
      "header"
      "breadcrumbs"
      "main"
      "sidebar";
    grid-template-columns: 1fr;
  }

  body.has-toc.has-sidebar {
    grid-template-areas:
      "header header"
      "breadcrumbs toc"
      "main toc";
    grid-template-columns: 1fr 16rem;
  }
}

@media (max-width: 48rem) {
  body {
    grid-template-areas:
      "header"
      "breadcrumbs"
      "main";
    grid-template-columns: 1fr;
  }

  body.has-toc {
    grid-template-areas:
      "header"
      "breadcrumbs"
      "toc"
      "main";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
  }

  body.has-toc.has-sidebar {
    grid-template-areas:
      "header"
      "breadcrumbs"
      "toc"
      "main";
    grid-template-columns: 1fr;
  }
}
